
.text-color {
    color:blue;
    font-size: 10rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color:lightblue;
}

p{
    font-family: verdana;
    font-size: 20px;
   
}